@charset "utf-8";

#wrapper {
	background-color:#010E72;
	background-image: none;

}
#movefooter{
	margin-top:85%;
}
.casinotitle {
	color: #800;
	margin-left: 5%;
	-o-text-shadow: 2px 2px 2px #FFF;
	-moz-text-shadow: 2px 2px 2px #FFF;
	-webkit-text-shadow: 2px 2px 2px #FFF;
	text-shadow: 2px 2px 2px #FFF;
	text-align: center;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	padding: 0px 20px 10px 15px;
	font-size: 2em;
	background-color: #0F0045;
	border: 8px double #000;
	box-shadow: -10px 10px 10px #600;
	border-radius: 25px;
	opacity: 0.9;
}

#footer {

	margin-left: 25%;
	margin-right: 25%;
	text-align: center;
	padding: 0px 6px 0px 6px;
	background-color: #0F0045;
	border: 8px double #000;
	box-shadow: -10px 10px 10px #600;
	border-radius: 25px;
	opacity: 0.95;
	font-weight:bold;
	color: #FFF;
	line-height: 2px;
	}
.enterbutton {
	position:fixed;
	top: 40%;
	left: 25%;
}
.meteor1 {
	display:none;
}
.meteor2 {
	display:none;
}
.meteor3 {
	display:none;
}
.caveboy {
	display:none;
}
.firepit {
	z-index: 1;
	display: inline;
	position: fixed;
	padding: 5px 3px 5px 10px;
	right: 10px;
	bottom: 10px;
	background-color: #0F0045;
	border: 8px double #000;
	box-shadow: -10px 10px 10px #600;
	border-radius: 25px;
}
.form {
	font-size: 1em;
	background-color: #0F0045;
	border: 8px double #000;
	box-shadow: -10px 10px 10px #600;
	border-radius: 25px;
	color: #FFF;
	margin-top: 5%;

}
.formtable {
	margin-left:10%;
	opacity: 0.95;
	}
.formfield {
	text-align: left;
	background-color: #0F0065;
	color: #FFF;

}
.tab {
	margin-left: 30px;
}

